@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$pink: rgb(191, 55, 251);
$midnight-blue: rgb(36, 101, 229);

$icon-dimensions-large: 4rem;
$tabs-toggle-link-hover-border-color: $pink;


@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";

html {
  background: linear-gradient(to bottom right, #fafafa, #fefefe);
  position: relative;
  min-height: 100%; 

  border: 4px solid $pink;  
  border-image-source: linear-gradient($pink, $midnight-blue);
  border-image-slice: 20;
  border-top: none;
  border-bottom: none;
}

body {
  margin: 0 0 73px;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  transition: all 0.3s ease;
}

header {
  background: rgba(5, 5, 5, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  h1.title {
    color: #fff;
    font-size: 4em;
    padding: .5em;
  }
}

.get-started {
  margin: 8.5em auto 0;
  
  .box {
    margin: auto;
    padding: 0;
  }
  
  h3 {
    letter-spacing: 1px;
    padding-top: 2em;
    color: rgba(20, 20, 20, 0.8);
  }
  
  .level {
    min-width: 27%;
    max-width: 400px;
    margin: 1em auto;
    padding: .5em .6em;
  }

  .button-get-started {
    margin: .5em 0 3.3em;
    padding: 10px 30px;
    letter-spacing: 1px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      border: 1px solid $midnight-blue;
      transform: scale(1.07);
      transition: all 0.2s ease;
    }
  }
}

/* booklist */

.booklist {
  min-width: 60%;
  max-width: 400px;
  margin: 10.5em auto;
  padding: 0 2em;

  .tabs li {
    background: $white;
    
    & a:hover {
      background-color: unset;
    }

    &.is-active-tab {
      // background: linear-gradient(to top right, $midnight-blue, $pink); (missing white text color)

      // more subtle than above
      background: #eee;
    }
  }
  
  ul {
    padding-left: 0;
    text-decoration: none;
  }
}

/* end booklist */

/* book */

.media {
  position: relative;

  figure {
    height: 160px;
    
    img {
      width: 85%;
      min-width: 110px;
      border: 1px solid $grey-lighter;
    }
  }
  
  .subtitle {
    color: $grey;
  }

  .add {
    margin-top: 50%;
  }

  .button {
    padding: 0 .75em;
    height: 2.75em;
    color: $pink;
    border: 1px solid $pink;
    
    &:hover {
      color: $midnight-blue;
      border: 1px solid $midnight-blue;
    }
  }

  .delete {
    border: none;
    
    &:hover {
      border: none;
      background-color: $pink;
    }

    img {
      width: 40px;
    }
  } 
  
  .button-icon {
    width: 35px;
    margin-right: .3em;
  }
}

/* end book */

form {
  margin: auto;
  padding: 2em 0;
  min-width: 320px;
  max-width: 500px;

  div:first-child {
    width: 100%;
  }

  &.field:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 73px;
  width: 102%;
  margin-left: -1%;
  padding: 1.5em;

  span {
    font-weight: 900;
  }
}

/* misc */

.button-gradient {
  background: linear-gradient(to top right, $midnight-blue, $pink);
  color: $white;
  font-weight: bold;

  &:hover {
    color: $white;
    border: 1px solid $pink;
  }
}

.icon {
  width: 30px;
}

/* end misc */
