@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$tabs-toggle-link-active-background-color: $cyan;
$tabs-toggle-link-active-border-color: $cyan;
$tabs-toggle-link-hover-background-color: #E8EAF6;
$tabs-toggle-link-hover-border-color: #E8EAF6;

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";

html {
  background: linear-gradient(to bottom right, #fafafa, #fefefe);
  position: relative;
  min-height: 100%; 
}

body {
  margin: 0 0 72px;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

header {
  background: rgba(5, 5, 5, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  h1.title {
    color: #fff;
    font-size: 4em;
    padding: .5em;
  }
}

.booklist {
  min-width: 60%;
  max-width: 400px;
  margin: 10.5em auto;
  padding: 0 2em;
  
  ul {
    padding-left: 0;
    text-decoration: none;
    
    li {
      background-color: $white;      
    }
  }
}

.is-active {
  z-index: 0;
}

/* 

Book 

*/
.media {
  position: relative;

  figure {
    height: 160px;
    
    img {
      width: 85%;
    }
  }
  
  .subtitle {
    color: $grey;
  }

  .button-read svg {
    color: $green;
  }
  
  .button-unread svg {
    color: $red;
  }
  
  .button-read, .button-unread {
    position: absolute;
    bottom: 0;
  }

  .button-plus {
    color: $green;
  }
  
  .button-icon {
    margin-right: .3em;
  }
}

/* 

End Book 

*/

form {
  margin: auto;
  padding: 2em 0;
  min-width: 320px;
  max-width: 500px;

  div:first-child {
    width: 100%;
  }

  &.field:not(:last-child) {
    margin-bottom: 0;
  }
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  padding: 1.5em;
  margin-top: 4em;

  span {
    font-weight: 900;
  }
}
