@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$pink: rgb(191, 55, 251);
$midnight-blue: rgb(36, 101, 229);
$icon-dimensions-large: 4rem;
$tabs-toggle-link-hover-border-color: $pink;
$subtitle-color: $grey;

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";

html {
  background: linear-gradient(
    to bottom right, 
    #fafafa, 
    #fefefe
  );
  position: relative;
}

body {
  margin: 0 0 69px;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%; 
  border-left: 4px solid $pink;  
  border-right: 4px solid $pink;  
  border-image-source: linear-gradient($pink, $midnight-blue);
  border-image-slice: 0 20;
}

header {
  background: rgba(5, 5, 5, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  h1.title {
    color: #fff;
    font-size: 4em;
    padding: .5em;

    a {
      color: $white-ter;
    }
  }
}

.get-started {
  margin: 8.3em auto 1px;
  
  .box {
    min-height: 74vh;
    margin: auto;
    padding: 0;
    border-radius: 0;
  }
  
  h3 {
    letter-spacing: 1px;
    padding-top: 2em;
    color: rgba(20, 20, 20, 0.8);
  }
  
  .level {
    min-width: 27%;
    max-width: 400px;
    margin: 1em auto;
    padding: .5em .6em;
  }

  .button-get-started {
    margin: .5em 0 3.3em;
    padding: 10px 30px;
    letter-spacing: 1px;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      border: 1px solid $midnight-blue;
      transform: scale(1.07);
      transition: all 0.2s ease;
    }
  }
}

/* booklist */

.booklist {
  min-width: 340px;
  max-width: 800px;
  min-height: 69.6vh;
  margin: 8.5em auto 2em;
  padding: 2em 2em 0;

  .tabs li {
    background: #eee;
    
    & a:hover {
      background-color: unset;
    }

    &.is-active-tab {
      background: $white;
      
      a {
        color: $pink;
      }
    }
  }
  
  ul {
    padding-left: 0;
    text-decoration: none;
  }

  .no-books {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* end booklist */

/* book */

.media {
  position: relative;

  .drag-handle {
    align-self: center;
    position: relative;
    right: 8px;
    line-height: .9em;
    cursor: move;
  }

  figure {
    height: 160px;
    max-width: 140px;

    img, .no-img {
      height: 160px;
      width: 85%;
      width: 110px;
      border: 1px solid $grey-lighter;
    }
  }

  .author-link {
    border: none;
    font-size: 1rem;
    padding: 0 .5em 0 0;
    color: $grey;
    cursor: pointer;
    text-align: left;

    &:hover {
      color: $dark;
    }
  }

  .snippet {
    overflow: hidden;
    position: relative;
    text-align: justify;

    .see-more {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1.5em;
      padding: 0 .3em;
      color: $pink;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        color: $midnight-blue;
      }
    }
  }

  .add {
    margin-top: 50%;
  }

  .button {
    padding: 0 .75em;
    height: 2.75em;
    color: $pink;
    border: 1px solid $pink;
    
    &:hover {
      color: $midnight-blue;
      border: 1px solid $midnight-blue;
    }
  }

  .delete {
    border: none;
    
    &:hover {
      border: none;
      background-color: $pink;
    }

    img {
      width: 40px;
    }
  } 
  
  .button-icon {
    width: 35px;
    margin-right: .3em;
  }
}

/* end book */

form {
  margin: auto;
  padding: 2em 0;
  min-width: 320px;
  max-width: 500px;

  div:first-child {
    width: 100%;
  }

  &.field:not(:last-child) {
    margin-bottom: 0;
  }
}

.pagination.is-centered { margin: 0; }

.pagination-link.is-current { 
  background: linear-gradient(
    to top right, 
    rgba(5, 5, 5, 0.9), 
    rgba(5, 5, 5, 0.6)
  );
  font-weight: bold;
  border: none;
}


.footer {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 73px;
  width: 100%;
  padding: 1.5em;

  span {
    font-weight: 900;
  }
}

/* misc */

.button-gradient {
  background: linear-gradient(
    to top right, 
    $midnight-blue, 
    $pink
  );
  color: $white;
  font-weight: bold;

  &:hover {
    color: $white;
    border: 1px solid $pink;
  }
}

.icon {
  width: 30px;
}

.spinner {
  padding-bottom: 1em;
}

/* end misc */

@media (max-width: 769px) {
  .level-item {
    justify-content: unset;
  }
}

@media (max-width: 700px) {
  .booklist {
    padding: 2em 1em 0;
  }
}

@media (max-width: 500px) {
  .tabs li a, .button {
    font-size: .9em;
  }

  .media .button-icon {
    width: 27px;
  }
}
